
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F67221;
    --secondary-color-DARK: #622C76;
    --secondary-color-LIGHT: #8B5094;
    --white-color: white;
    --degree-primary: linear-gradient(180deg, #F67221, #884D34);
    --degree-secondary: linear-gradient(180deg, #622C76, #8B5094);
    --bg-color: black;

    --font-family: "sans-serif";
    --fontS-title: 1.5rem;
    --fontS-text: 1.2rem;

    --padding-btn: 0.8em;
    --border-radius-btn: 10px;
}

nav {
    background: var(--degree-secondary);
    padding: 0.7em 2em;
}
.txtDestacado{
    color: var(--primary-color);
}

